body {
  font-family: "Open Sans", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: (12, 1fr);
  grid-template-rows: (6, 1fr);
  width: 350;
}

.card {
  grid-area: 1 / 1 / 7 / 13;
  border: 1px solid rgb(165, 165, 165);
  border-radius: 3px;
  margin: ;
}
.name {
  grid-area: 2 / 2 / 3 / 9;
  font-weight: bold;
  margin-top: 10px;
  margin-left: 15px;
}

.relation {
  grid-area: 3 / 2 / 4 / 9;
  color: rgb(176, 177, 177);
  margin-top: -24px;
  margin-left: 15px;
}
.image {
  grid-area: 2 / 10 / 4 / 12;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
}
.details {
  grid-area: 4 / 2 / 5 / 12;
  border-bottom: 1px solid rgb(176, 177, 177);
  margin-bottom: 10px;
  margin-left: 15px;
}
.approve {
  grid-area: 5 / 2 / 6 / 7;
  border: 2px solid rgb(45, 214, 107);
  color: rgb(45, 214, 107);
  border-radius: 3px;
  border-right: none;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 27;
  width: 200px;
}
.decline {
  grid-area: 5 / 7 / 6 / 12;
  border: 2px solid rgb(254, 0, 0);
  color: rgb(254, 0, 0);
  border-radius: 3px;
  vertical-align: middle;
  padding: 10px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 28px;
  width: 200px;
}
